*.class
*.log
**/build/
**/out/

# Project format
.idea
*.iws
*.iml
*.ipr

# mpeltonen/sbt-idea plugin
.idea_modules/

#####=== macOS ===#####
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

.gradle

