#####=== Scala ===#####

*.class
*.log

#####=== JetBrains ===#####

# Project format
.idea
*.iws
*.iml
*.ipr

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

#####=== macOS ===#####
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

#####=== Gradle ===#####

.gradle
/build/

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties

